{% extends 'header.html' %}
{% block content %}
<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Enclass</span>
      <h3 class="page-title">Enclass</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card card-small card-post card-post--1">
        <div class="card-post__image"
          style="background-image: url('https://storage.googleapis.com/kaggle-competitions/kaggle/3136/media/kaggle-transparent.svg')">
          <a href="#" class="card-post__category badge badge-pill badge-dark">Tutorial</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a class="text-fiord-blue" href="#">Pengenalan Kaggle</a>
          </h5>
          <a href="1F99cQFM9EukQ-B7qmIBdphjmTaliAZYs/" type="button" class="mb-2 btn btn-primary mr-2">Lihat Video</a>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card card-small card-post card-post--1">
        <div class="card-post__image"
          style="background-image: url('https://entitymath.herokuapp.com/static/images/logo2.png')">
          <a href="#" class="card-post__category badge badge-pill badge-dark">Kelas</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a class="text-fiord-blue" href="#">Enclass #2</a>
          </h5>
          <a href="1Kkx_VSJ1mq8at5TD2aMGFvxZ09liwrkz/" type="button" class="mb-2 btn btn-primary mr-2">Lihat Video</a>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card card-small card-post card-post--1">
        <div class="card-post__image"
          style="background-image: url('https://entitymath.herokuapp.com/static/images/logo2.png')">
          <a href="#" class="card-post__category badge badge-pill badge-dark">Kelas</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a class="text-fiord-blue" href="#">EnClass #1</a>
          </h5>
          <a href="13CEwwwPICNUCLi4k3r6En-ooWpjBR-wE/" type="button" class="mb-2 btn btn-primary mr-2">Lihat Video</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}