{% extends 'header.html' %}
{% block content %}
<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Kompeten</span>
      <h3 class="page-title">Kompeten</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card card-small card-post card-post--1">
        <div class="card-post__image"
          style="background-image: url('https://storage.googleapis.com/kaggle-datasets-images/1226038/2046696/2465e7cd117a6954befa50eff39d236f/dataset-cover.jpg?t=2021-03-22-11-33-17')">
          <a href="#" class="card-post__category badge badge-pill badge-dark">Klasifikasi</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a class="text-fiord-blue" href="#">Kompeten 1</a>
          </h5>
          <p class="card-text d-inline-block mb-3">Klasifikasi kemungkinan terkena serangan jantung dari dataset yang
            digunakan,
            apakah pasien mempunyai kemungkinan tinggi terkena serangan jantung atau kemungkinannya rendah.</p>
          <a href="https://www.kaggle.com/t/5013bfdd3f1e4ec69d11fd847290911e" target="_blank" type="button"
            class="mb-2 btn btn-primary mr-2">Join Competition</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->

</div>
{% endblock %}