<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Entity | Pendaftaran Sukses</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"
        href="{% static 'admin/styles/shards-dashboards.1.1.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/styles/extras.1.1.0.min.css' %}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-2">
                <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4 mb-3 border-bottom">
                        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                            <img src="{% static 'images/logo.png' %}" alt="Logo Entity" width="150">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 mb-4">
                            <div class="card card-small mb-4">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Formulir Pendaftaran Berhasil Diterima</h6>
                                </div>
                                <form action="http://127.0.0.1:8000/api/pendaftaran" id="formPendaftaran" method="POST">
                                    <ul class="list-group list-group-flush">
                                        <class class="list-group-item p-3">
                                            <div class="form-group col-md-8">
                                                <strong>Terima kasih telah mendaftar, informasi selanjutnya akan dikirim
                                                    melalui email.<br><br> Jika ada pertanyaan silakan hubungi
                                                    cp:<br>Kirana
                                                    Fara Labitta</br>Id line: bittalabitta
                                                    </br>Wa: 082130520910</strong>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <a href="https://entitymath.herokuapp.com"
                                                    class="btn btn-outline-info">Kembali</a>
                                            </div>
                                        </class>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('input[type=radio][name=menjadi_pengurus]').on("change", function () {

                toggleDivs($(this).val())
            });

            function toggleDivs(toggleVal) {

                console.log(toggleVal)
                switch (toggleVal) {
                    case '0':
                        $("#berminat").hide();
                        break;
                    case '1':
                        $("#berminat").show();
                        break;
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="scripts/extras.1.1.0.min.js"></script>
    <script src="scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="scripts/app/app-components-overview.1.1.0.js"></script>
</body>

</html>