<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Entity | Pendaftaran</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"
        href="{% static 'admin/styles/shards-dashboards.1.1.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/styles/extras.1.1.0.min.css' %}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-2">
                <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4 mb-3 border-bottom">
                        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                            <img src="{% static 'images/logo.png' %}" alt="Logo Entity" width="150">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 mb-4">
                            <div class="card card-small mb-4">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Formulir Registrasi Member Entity</h6>
                                </div>
                                <form id="formPendaftaran">
                                    <ul class="list-group list-group-flush">
                                        <class class="list-group-item p-3">
                                            <script
                                                src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" id="namaLengkap"
                                                    placeholder="Nama Lengkap" name="nama" required>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" id="npm" name="npm"
                                                    placeholder="NPM" required>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <input type="text" class="form-control" id="email" name="email"
                                                    placeholder="Email" required>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <strong>Apa motivasi kamu untuk bergabung bersama Entity?</strong
                                                    required>
                                                <input type="text" class="form-control" name="motivasi" id="motivasi">
                                            </div>
                                            <div class="col-lg-10 col-md-8" required>
                                                <strong>Apakah kamu ingin menjadi pengurus Entity?</strong>
                                                <label class="custom-control custom-control-primary custom-radio">
                                                    <input class="custom-control-input" type="radio"
                                                        name="menjadi_pengurus" value="0" checked="checked">
                                                    <span class=" custom-control-indicator"></span>
                                                    <span class="custom-control-label">Tidak</span>
                                                </label>
                                                <label class="custom-control custom-control-primary custom-radio">
                                                    <input class="custom-control-input" type="radio"
                                                        name="menjadi_pengurus" value="1">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-label">Ya</span>
                                                </label>
                                            </div>
                                            </br>
                                            <div name="berminat">
                                                <div id="berminat" style="display:none;">
                                                    <div class="form-group col-md-8">
                                                        <strong>Apa yang kamu minati?</strong>
                                                        <select id="inputState" class="form-control" name="minat1">
                                                            <option selected>Pilihan 1</option>
                                                            <option value="Sekre & Bendahara">Sekre & Bendahara</option>
                                                            <option value="Education and Training">Education and
                                                                Training</option>
                                                            <option value="Event">Event</option>
                                                            <option value="Competition Enhancement">Competition
                                                                Enhancement</option>
                                                            <option value="Public Relation">Public Relation</option>
                                                            <option value="Website">Website</option>
                                                            <option value="Publication, Media, and Design">Publication,
                                                                Media, and Design</option>
                                                        </select></br>
                                                        <select id="inputState2" class="form-control" name="minat2">
                                                            <option selected>Pilihan 2</option>
                                                            <option value="Sekre & Bendahara">Sekre & Bendahara</option>
                                                            <option value="Education and Training">Education and
                                                                Training</option>
                                                            <option value="Event">Event</option>
                                                            <option value="Competition Enhancement">Competition
                                                                Enhancement</option>
                                                            <option value="Public Relation">Public Relation</option>
                                                            <option value="Website">Website</option>
                                                            <option value="Publication, Media, and Design">Publication,
                                                                Media, and Design</option>
                                                        </select></br>
                                                    </div>
                                                    <div class="form-group col-md-8">
                                                        <strong>Bahasa pemrograman apa yang kamu gunakan?</strong>
                                                        <input type="text" class="form-control" name="bahasa"
                                                            id="bahasa" placeholder="R / Python">
                                                    </div>
                                                    <div class="form-group col-md-8">
                                                        <strong>Pada hari apa kamu memiliki waktu luang untuk
                                                            berkegiatan
                                                            dengan Entity?</strong>
                                                        <select id="hari" name="hari" class="form-control">
                                                            <option value="senin" selected>Senin</option>
                                                            <option value="selasa">Selasa</option>
                                                            <option value="rabu">Rabu</option>
                                                            <option value="kamis">Kamis</option>
                                                            <option value="jumat">Jumat</option>
                                                            <option value="sabtu">Sabtu</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-8">
                                                        <strong>Apa yang kamu harapkan setelah bergabung bersama
                                                            Entity?</strong>
                                                        <input type="text" class="form-control" id="harapan"
                                                            name="harapan">
                                                    </div>
                                                </div>
                                            </div>
                                            </br></br>
                                            <div class="form-group col-md-8">
                                                <input type="submit" value="Submit" id="postSubmit"
                                                    class="btn btn-outline-info">
                                            </div>
                                            </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        const thisForm = document.getElementById('formPendaftaran');
        thisForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            const formData = new FormData(thisForm).entries()
            const response = await fetch('https://entitymath.herokuapp.com/api/pendaftaran', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(Object.fromEntries(formData))
            });

            const result = await response.json();
            console.log(result)
        });
    </script>
    <script>
        $(document).ready(function () {

            $('input[type=radio][name=comission_type]').on("change", function () {

                toggleDivs($(this).val())
            });

            $("input[type='button']").on("click", function () {
                console.log($(this).parents("form").serialize());
            })


            function toggleDivs(toggleVal) {

                console.log(toggleVal)
                switch (toggleVal) {
                    case '0':
                        $("#berminat").hide();
                        break;
                    case '1':
                        $("#berminat").show();
                        break;
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="scripts/extras.1.1.0.min.js"></script>
    <script src="scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="scripts/app/app-components-overview.1.1.0.js"></script>
</body>

</html>