{% extends 'header.html' %}
{% block content %}
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">About</span>
            <h3 class="page-title">About</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="card" style="padding: 10px;">
                <div class="card-header border-bottom mb-2">
                    <h4 class="m-0">Struktur Organisasi</h4>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="col-lg-12 mb-1">
                        <div class="card-small">
                            <div class="card-header border-bottom">
                                <h5 class="m-0">Ketua</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <class class="list-group-item p-3" style="text-align: center;">
                                    <p>Ahnaf Basil Mubarok</p>
                                </class>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="col-lg-4 mb-2">
                        <div class="card-small">
                            <div class="card-header border-bottom">
                                <h5 class="m-0">Struktur Organisasi</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <class class="list-group-item p-3" style="text-align: center;">
                                    <p>Nama</p>
                                </class>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card-small">
                            <div class="card-header border-bottom">
                                <h5 class="m-0">Struktur Organisasi</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <class class="list-group-item p-3" style="text-align: center;">
                                    <p>Nama</p>
                                </class>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card-small">
                            <div class="card-header border-bottom">
                                <h5 class="m-0">Struktur Organisasi</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <class class="list-group-item p-3" style="text-align: center;">
                                    <p>Nama</p>
                                </class>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card-small">
                            <div class="card-header border-bottom">
                                <h5 class="m-0">Struktur Organisasi</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <class class="list-group-item p-3" style="text-align: center;">
                                    <p>Nama</p>
                                </class>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card-small">
                            <div class="card-header border-bottom">
                                <h5 class="m-0">Struktur Organisasi</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <class class="list-group-item p-3" style="text-align: center;">
                                    <p>Nama</p>
                                </class>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card-small">
                            <div class="card-header border-bottom">
                                <h5 class="m-0">Struktur Organisasi</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <class class="list-group-item p-3" style="text-align: center;">
                                    <p>Nama</p>
                                </class>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}